@using PetFeast.Models.Identity
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<li class="nav-item dropdown">

    <a class="nav-link dropdown-toggle"
       href="#"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false">

        <i class="bi bi-person-circle account-icon"></i>

        @if (SignInManager.IsSignedIn(User))
        {
            <span>@user?.UserName</span>
        }

    </a>

    <ul class="dropdown-menu dropdown-menu-end">

        @if (SignInManager.IsSignedIn(User))
        {
            <li>
                <a class="dropdown-item"
                   asp-controller="Order"
                   asp-action="UserOrderList">

                    <i class="bi bi-bag"></i>
                    Đơn hàng của tôi

                </a>
            </li>

            <li><hr class="dropdown-divider"></li>

            <li>
                <form asp-area="Identity"
                      asp-page="/Account/Logout"
                      method="post">

                    <button type="submit"
                            class="dropdown-item">

                        <i class="bi bi-box-arrow-right"></i>
                        Đăng xuất

                    </button>

                </form>
            </li>
        }
        else
        {
            <li>
                <a class="dropdown-item"
                   asp-area="Identity"
                   asp-page="/Account/Login">

                    Đăng nhập

                </a>
            </li>

            <li>
                <a class="dropdown-item"
                   asp-area="Identity"
                   asp-page="/Account/Register">

                    Đăng ký

                </a>
            </li>
        }

    </ul>

</li>