@model PetFeast.Models.Products.Product

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow mt-4">

    <div class="card-header bg-success text-white">
        <h4>Thêm sản phẩm</h4>
    </div>

    <div class="card-body">

        <form asp-action="CreateProduct"
              method="post"
              enctype="multipart/form-data">
            <div asp-validation-summary="All"
                 class="text-danger">
            </div>

            <div class="mb-3">
                <label>Tên sản phẩm</label>
                <input asp-for="ProductName"
                       class="form-control"
                       required>
            </div>

            <div class="mb-3">
                <label>Giá</label>
                <input asp-for="Price" class="form-control">
                
            </div>
            <div class="mb-3">

                <label>Giảm giá (%)</label>

                <input asp-for="DiscountPercent"
                       class="form-control"
                       min="0"
                       max="100">

            </div>
            <div class="mb-3">
                <label>Số lượng</label>
                <input asp-for="Quantity" class="form-control">
            </div>

            <div class="mb-3">
                <label>Danh mục</label>

                <select asp-for="CategoryId"
                        class="form-select"
                        asp-items="@(new SelectList(ViewBag.Categories, "CategoryId", "CategoryName"))">
                </select>
            </div>

            <div class="mb-3">
                <label>Mô tả</label>

                <textarea asp-for="Description"
                          class="form-control">
                </textarea>
            </div>

            <div class="mb-3">
                <label>Ảnh sản phẩm</label>

                <input asp-for="ImageFile"
                       class="form-control">
            </div>

            <button class="btn btn-success">

                Lưu

            </button>
            <a asp-action="ProductList"
               class="btn btn-secondary">

                <i class="bi bi-x-circle"></i>
                Hủy

            </a>
        </form>

    </div>

</div>