@{
    ViewData["Title"] = "Về chúng tôi";
}

<div class="main-content">

    <div class="container">
<div class="policy-banner">

    <h1>Về chúng tôi</h1>

    <p>

        PetFeast - Người bạn đồng hành đáng tin cậy của thú cưng,
        mang đến những sản phẩm chất lượng và dịch vụ tận tâm.

    </p>

</div>
<div class="policy-content text-center">

    <h3>Câu chuyện của PetFeast</h3>

    <p>

        PetFeast được thành lập với mong muốn mang đến cho thú cưng
        những sản phẩm tốt nhất, an toàn và chất lượng cao.

    </p>

    <p>

        Chúng tôi không chỉ cung cấp thức ăn và phụ kiện cho chó mèo
        mà còn mong muốn tạo nên một môi trường chăm sóc thú cưng hiện đại,
        tiện lợi và đáng tin cậy cho mọi khách hàng.

    </p>

</div>
<div class="row text-center mt-5">

    <div class="col-md-4">

        <div class="about-circle">
            <img src="~/img/Member/NXA.jpg">

        </div>

        <h4 class="mt-3">

            Nguyễn Xuân An

        </h4>

        <p>

            Member

        </p>

    </div>



    <div class="col-md-4">
        <div class="about-circle">
            <img src="~/img/Member/Moon2.jpg">
        
        </div>

        <h4 class="mt-3">

            Trần Việt Khang

        </h4>

        <p>

            Member

        </p>

    </div>



    <div class="col-md-4">

        <div class="about-circle">
            <img src="~/img/Member/HB.jpg">
        </div>

        <h4 class="mt-3">

            Hoàng Ngọc Gia Bảo

        </h4>

        <p>

            Member

        </p>

    </div>

    <div class="row mt-5 g-4 mb-5">

        <div class="col-md-4">

            <div class="policy-card">

                <i class="bi bi-bullseye"></i>

                <h4 class="mt-3">
                    Sứ mệnh
                </h4>

                <p>
                    Mang đến những sản phẩm và dịch vụ tốt nhất dành cho thú cưng.
                </p>

            </div>

        </div>


        <div class="col-md-4">

            <div class="policy-card">

                <i class="bi bi-eye"></i>

                <h4 class="mt-3">
                    Tầm nhìn
                </h4>

                <p>
                    Trở thành hệ thống cung cấp sản phẩm thú cưng được yêu thích.
                </p>

            </div>

        </div>


        <div class="col-md-4">

            <div class="policy-card">

                <i class="bi bi-gem"></i>

                <h4 class="mt-3">
                    Giá trị cốt lõi
                </h4>

                <p>
                    Chất lượng, uy tín và sự hài lòng của khách hàng.
                </p>

            </div>

        </div>

    </div>
</div>
</div>
</div>